<!-- app/views/home/sign_up.html.erb -->

	<!--================Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				</div>
				 <div class="user-section">
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user)%>">
              <i class="fa fa-user"></i>
            </a>
        <% else %>
          <a href="<%= new_user_session_path%>">
            <i class="fa fa-sign-in"></i>
          </a>
        <% end %>
        </div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->
<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="home_left_img">
							<img class="img-fluid" src="assets/banner/home-left.png" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner_content">
							            <div class="mainContent">
  <div class="grid">
    <h1 class="largeHeader">Sign in WIPajhdgakuhbsfliuagdf</h1>
    <p class="centeredDescription col_4">Not got an account? You can <a href="sign-up">sign up here.</a></p>
    <div class="col_1">
      <form class="signupForm">

        <label for="email">Email</label><br>
        <input class="shortInput" id="email" type="text"><br>

        <label for="password">Password</label><br>
        <input class="shortInput" id="password" type="text"><br>

      </form>

    </div><!-- end column 2 contact form -->

    <div class="col_4">
                <ul class="nav navbar-nav navbar-right">
                <br>
                <li class="nav-item"><a href="" class="primary_btn">Sign In</a></li>
                <br>
            </ul>
    </div>

  </div><!-- end grid -->
</div><!-- end mainContent -->

				</div>
        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
